.sidebar, .header {
    background-color:lemonchiffon;
}

.aa {
    background-color: greenyellow;
}

.header h2 {
    text-align: center;
}

.footer {
    background-color:lemonchiffon;
    float: left;
    width: 100%
}

ul {
    list-style-type: none;
}

li {
    padding: 4px;
}
.selected a {
    border:2px solid indigo;
    text-decoration: none;
    padding: 4px;
    
}