<div class="box">
    <h2>Categories</h2>
    <ul clas="sidebar-menu">
        <li class="special"
            ng-class="{'selected' : selectedCategoryId == null}">
            <a href="" ng-click="categoryClicked(null)">
                All
            </a>    
        </li>
        <li ng-repeat="category in categories"
            ng-class="{'selected' : selectedCategoryId == category.id}">
                <a href="" ng-click="categoryClicked(category.id)">
                    {{category.name}}
                </a>
        </li>
    </ul>
</div>

<div class="box">
    <h2>Towns</h2>
    <ul class="sidebar-menu">
        <li class="special"
            ng-class="{'selected' : selectedTownId == null}">
                <a href="" ng-click="townClicked(null)">
                    All
                </a>
        </li>
        <li ng-repeat="town in towns"
            ng-class="{'selected' : selectedTownId == town.id}">
                <a href="" ng-click="townClicked(town.id)">
                    {{town.name}}
                </a>
        </li>
    </ul>
</div>